absl-py==1.4.0
accelerate==0.12.0
addict==2.4.0
aenum==3.1.11
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==4.2.2
antlr4-python3-runtime==4.9.3
anyio==3.6.2
appnope==0.1.4
argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==3.0.0
async-lru==2.0.5
async-timeout==4.0.2
attrs==22.2.0
babel==2.17.0
basicsr==1.4.2
beautifulsoup4==4.11.2
bleach==6.2.0
blendmodes==2022
boltons==23.0.0
brotlipy==0.7.0
cachetools==5.3.0
certifi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_477u68wvzm/croot/certifi_1671487773341/work/certifi
cffi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_1b0qzba5nr/croot/cffi_1670423213150/work
chardet==4.0.0
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
clean-fid==0.1.29
click==8.1.3
clip @ git+https://github.com/openai/CLIP.git@d50d76daa670286dd6cacf3bcd80b5e4823fc8e1
colorama==0.4.6
comm==0.2.3
conda==23.1.0
conda-content-trust @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_0afea0f9-bbf5-446c-8d60-8151cc05b029p0nco1nn/croots/recipe/conda-content-trust_1658126375910/work
conda-package-handling @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_f5r7ncch6s/croot/conda-package-handling_1672865026931/work
conda_package_streaming @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_619dxy_gif/croot/conda-package-streaming_1670508154637/work
contourpy==1.0.7
cryptography @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_0ayq9hu973/croot/cryptography_1673298756837/work
cssselect2==0.7.0
cycler==0.11.0
debugpy==1.8.15
decorator==5.2.1
defusedxml==0.7.1
deprecation==2.1.0
distro==1.9.0
einops==0.4.1
entrypoints==0.4
enum34==1.1.10
exceptiongroup==1.3.0
executing==2.2.0
facexlib==0.2.5
fastapi==0.90.1
fastjsonschema==2.21.1
ffmpy==0.3.0
filelock==3.9.0
filterpy==1.4.5
font-roboto==0.0.1
fonts==0.0.3
fonttools==4.38.0
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.1.0
ftfy==6.1.1
future==0.18.3
gdown==4.6.3
gfpgan==1.3.8
gitdb==4.0.10
GitPython==3.1.27
google-auth==2.16.1
google-auth-oauthlib==0.4.6
gradio==3.16.2
grpcio==1.49.1
h11==0.12.0
h5py==3.8.0
httpcore==0.15.0
httpx==0.25.1
huggingface-hub==0.12.1
idna==2.10
imageio==2.25.1
inflection==0.5.1
ipykernel==6.30.0
ipython==8.37.0
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.2
jiter==0.10.0
json5==0.12.0
jsonmerge==1.8.0
jsonpointer==3.0.0
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
jupyter-events==0.12.0
jupyter-lsp==2.2.6
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.16.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
kornia==0.6.7
lark==1.2.2
linkify-it-py==1.0.3
llvmlite==0.39.1
lmdb==1.4.0
lpips==0.1.4
lxml==4.9.2
Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe==2.1.2
matplotlib==3.7.0
matplotlib-inline==0.1.7
mdit-py-plugins==0.3.4
mdurl==0.1.2
mistune==3.1.3
multidict==6.0.4
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.0
notebook==7.4.4
notebook_shim==0.2.4
numba==0.56.4
numpy==1.23.3
oauthlib==3.2.2
omegaconf==2.2.3
open-clip-torch @ git+https://github.com/mlfoundations/open_clip.git@bb6e834e9c70d9c27d0dc3ecedeebeaeb1ffad6b
openai==1.97.1
opencv-python==4.7.0.68
orjson==3.8.6
overrides==7.7.0
packaging==23.0
pandas==1.5.3
pandocfilters==1.5.1
parso==0.8.4
pexpect==4.9.0
piexif==1.1.3
Pillow==9.4.0
plaidbench==0.7.0
plaidml==0.7.0
plaidml-keras==0.7.0
platformdirs==4.3.8
pluggy @ file:///opt/concourse/worker/volumes/live/8277900c-164a-49c8-6f2a-f55c3c0154be/volume/pluggy_1648042581708/work
prometheus_client==0.22.1
prompt_toolkit==3.0.51
protobuf==3.20.0
psutil==5.9.4
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_ebsmghz9nu/croot/pycosat_1666805511853/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodome==3.17
pydantic==1.10.5
pyDeprecate==0.3.2
pydub==0.25.1
Pygments==2.19.2
PyMySQL==1.1.1
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.9
pyrsistent==0.19.3
PySocks @ file:///Users/builder/ci_310/pysocks_1642536366386/work
python-dateutil==2.8.2
python-json-logger==3.3.0
python-multipart==0.0.4
pytorch-lightning==1.7.6
pytz==2022.7.1
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==27.0.0
realesrgan==0.3.0
referencing==0.36.2
regex==2022.10.31
reportlab==3.6.12
requests==2.32.4
requests-oauthlib==1.3.1
resize-right==0.0.2
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rpds-py==0.26.0
rsa==4.9
ruamel.yaml @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_7de1zqcaou/croot/ruamel.yaml_1666304553877/work
ruamel.yaml.clib @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_c7s0zxy4t2/croot/ruamel.yaml.clib_1666302244557/work
safetensors==0.2.7
scikit-image==0.19.2
scipy==1.10.1
Send2Trash==1.8.3
sentencepiece==0.1.97
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.4
stack-data==0.6.3
starlette==0.23.1
svglib==1.5.1
tb-nightly==2.13.0a20230219
tensorboard==2.12.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
terminado==0.18.1
tifffile==2023.2.3
timm==0.6.7
tinycss2==1.2.1
tokenizers==0.13.2
tomli==2.2.1
toolz @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_a7gkswah88/croot/toolz_1667464082910/work
torch==1.12.1
torchdiffeq==0.2.3
torchmetrics==0.11.1
torchsde==0.2.5
torchvision==0.13.1
tornado==6.5.1
tqdm @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_2adqcbsqqd/croots/recipe/tqdm_1664392689227/work
traitlets==5.14.3
trampoline==0.1.2
transformers==4.25.1
types-python-dateutil==2.9.0.20250708
typing_extensions==4.14.1
uc-micro-py==1.0.1
uri-template==1.3.0
urllib3 @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_4cyi6_u2vj/croot/urllib3_1673575523861/work
uvicorn==0.20.0
wcwidth==0.2.6
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==10.4
Werkzeug==2.2.3
yapf==0.32.0
yarl==1.8.2
zstandard @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_c5lm04h6cy/croots/recipe/zstandard_1663827377465/work
